.ion-md-myhome{ 
    content: url("../assets/fonts/list.svg");
    width:20px;
    height:20px;
}
.ion-md-mymessage { 
    content: url("../assets/fonts/news.svg"); 
}
.ion-md-yabi{ 
    content: url("../assets/fonts/1yabi.svg");
    width:20px;
    height:20px;
}
.ion-md-fabu{ 
    content: url("../assets/fonts/2fabu.svg");
    width:20px;
    height:20px;
}
.ion-md-hezuo{ 
    content: url("../assets/fonts/3hezuo.svg");
    width:20px;
    height:20px;
}
.ion-md-shoucang{ 
    content: url("../assets/fonts/4shoucang.svg");
    width:20px;
    height:20px;
}
.ion-md-caogao{ 
    content: url("../assets/fonts/5caogao.svg");
    width:20px;
    height:20px;
}
.ion-md-video{ 
    content: url("../assets/fonts/6video.svg");
    width:20px;
    height:20px;
}
.ion-md-xinxi{ 
    content: url("../assets/fonts/7xinxi.svg");
    width:20px;
    height:20px;
}
.ion-md-vip{ 
    content: url("../assets/fonts/8vip.svg");
    width:20px;
    height:20px;
}
.ion-md-anquan{ 
    content: url("../assets/fonts/9password (1).svg");
    width:20px;
    height:20px;
}
.ion-md-mypepole{ 
    content: url("../assets/fonts/10pepole.svg");
    width:20px;
    height:20px;
}
.ion-md-setting{ 
    content: url("../assets/fonts/11setting.svg");
    width:20px;
    height:20px;
}
