page-about {
    margin:0 auto;
    width:750px;
    background-color: gray;
    text-align: center;
}
#mymess{
    height:200px;
    border-bottom-color: black;
}
#mymess img{
    border-radius: 50%;
    width:20%;
    margin:10px 40% 3px 40%;
}
#mymess h4{
    line-height: 10px;
}
#area{
    line-height: 8px;
    font-size: 12px;
}
#areadetail{
    line-height: 8px;
    font-size: 13px;
}
