body{
    background-color:#D8D8D8;
    height:800px;
}
.box{
    width: 500px;
    margin: 30px auto;
}
.content{
    width:800px;
    text-align: center;
}

span{
    position:absolute;
    top:2px;
    right:5px;
    display:inline-block;
    padding:0 5px;
    height:20px;
    border-radius:20px;
    background-color:white;
    line-height:22px;
    text-align:center;
    color:#666;
    font-size:14px;
}
ul{
    padding:0;
    list-style:none;
    width:900px;

}
li input{
    position:absolute;
    top:2px;
    left:10px;
    width:22px;
    height:22px;
    cursor:pointer;
    
}

li{
    height:32px;
    width:400px;
    line-height:32px;
    background-color:white;
    position:relative;
    margin-bottom: 5px;
    padding:0 45px;
    border-radius:3px;
    left:400px;
}
ul li{

    text-align: center;
}
.del{
    float:right;
    background-color:#7A8B8B;
    border: none;
    color: white;
    height:23px;
    width:50px;
    margin-top:5px;
    font-size: 14px;
    border-radius: 6px;
}